@import '../../styles/variables.scss';

.top-stories {
    .news-cards,
    .right,
    .top,
    .left,
    .bottom,
    .col {
        display: flex;
    }
    .headline {
        font-size: 1.5em;
    }
    .left,
    .col {
        margin: 0 30px 0 0;
        flex-direction: column;
        width: 50%;
        &::last-child {
            margin-right: 0;
        }
    }
    .left,
    .right {
        width: 50%;
        justify-content: space-between;
    }
    .right-card {
        flex: 1;
        margin-bottom: 30px;
    }
    .bottom {
        margin-top: 30px;
        .card {
            margin: 0 30px 0 0;
        }
    }
    .card-text {
        width: 100%;
        box-sizing: border-box;
        bottom: 0;
        padding: 0 8px;
        background-color: $headline;
        color: $white;
        opacity: 0.9;
        border-bottom: 4px solid red;
    }
}
@media (max-width: 1024px) {
    .top-stories {
        .news-cards {
            flex-direction: column;
        }
        .col,
        .left,
        .right {
            width: 100%;
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .top-stories {
        .headline {
            font-size: 1em;
        }
        .left,
        .right {
            margin: 0 0 30px 0;
        }
        .col {
            margin: 0;
            &:first-child {
                margin-right: 30px;
            }
        }
        .col,
        .left,
        .right {
            width: 100%;
        }
        .bottom {
            flex-flow: column;
            margin: 0;
            .card {
                margin: 0 0 30px 0;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .top-stories {
        .headline {
            overflow: hidden;
            padding: 1em 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 auto;
        }
        .col {
            margin: 15px 0 0 0;
        }
        .news-cards,
        .bottom {
            font-size: 0.5em;
        }
        .right-card {
            margin-bottom: 15px;
        }
        .right {
            margin: 0 0 15px 0;
            flex-flow: column;
        }
        .bottom {
            flex-flow: column;
            margin: 0;
            .card {
                margin: 0 0 15px 0;
            }
        }
    }
} ;
