@import '../../styles/variables.scss';

.card {
    position: relative;
    display: flex;
    justify-content: space-between;

    .card-text {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        bottom: 0;
        padding: 0 8px;
        background-color: $input-blue;
        color: $white;
        opacity: 0.9;
        border-bottom: 4px solid red;
    }
    .card-img {
        width: 100%;
    }
}
