@import '../../styles/variables.scss';

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    .card-text {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        bottom: 0;
        padding: 0 8px;
        background-color: $headline;
        color: $white;
        opacity: 0.9;
        border-bottom: 4px solid red;
    }
    .card-img {
        width: 100%;
        background-color: $blue-color;
    }
}
