.home {
    width: 85%;
    margin: 0 auto;
    .heading {
        font-size: 3em;
    }
    .top-section {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
